/vendor
/node_modules
/.env
*.sqlite
*.sqlite-journal
/database/*.sqlite
/database/*.sqlite-journal
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.idea
/.vscode
*.swp
.DS_Store
Thumbs.db
/public/hot
/public/storage
/public/build
.phpunit.result.cache
